In [1]:
import numpy as np
import pandas as pd

In [33]:
data = pd.read_csv('fatal_encounters_dot_org.csv', delimiter = ',')

In [34]:
data.head()

,Unique ID,Subject's name,Subject's age,Subject's gender,Subject's race,Subject's race with imputations,Imputation probability,URL of image of deceased,Date of injury resulting in death (month/day/year),Location of injury (address),...,Cause of death,A brief description of the circumstances surrounding the death,"Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS",Link to news article or photo of official document,"Symptoms of mental illness? INTERNAL USE, NOT FOR ANALYSIS",Video,Date&Description,Unique ID formula,Unique identifier (redundant),Date (Year)
0,25747,Mark A. Horton,21,Male,African-American/Black,African-American/Black,not imputed,NaN,01/01/2000,Davison Freeway,...,Vehicle,Two Detroit men killed when their car crashed ...,Unreported,https://drive.google.com/file/d/1-nK-RohgiM-tZ...,No,NaN,1/1/2000: Two Detroit men killed when their ca...,NaN,25747,2000
1,25748,Phillip A. Blurbridge,19,Male,African-American/Black,African-American/Black,not imputed,NaN,01/01/2000,Davison Freeway,...,Vehicle,Two Detroit men killed when their car crashed ...,Unreported,https://drive.google.com/file/d/1-nK-RohgiM-tZ...,No,NaN,1/1/2000: Two Detroit men killed when their ca...,NaN,25748,2000
2,25746,Samuel H. Knapp,17,Male,European-American/White,European-American/White,not imputed,NaN,01/01/2000,27898-27804 US-101,...,Vehicle,Samuel Knapp was allegedly driving a stolen ve...,Unreported,https://drive.google.com/file/d/10DisrV8K5ReP1...,No,NaN,1/1/2000: Samuel Knapp was allegedly driving a...,NaN,25746,2000
3,25749,Mark Ortiz,23,Male,Hispanic/Latino,Hispanic/Latino,not imputed,NaN,01/01/2000,600 W Cherry Ln,...,Vehicle,A motorcycle was allegedly being driven errati...,Unreported,https://drive.google.com/file/d/1qAEefRjX_aTtC...,No,NaN,1/1/2000: A motorcycle was allegedly being dri...,NaN,25749,2000
4,1,LaTanya Janelle McCoy,24,Female,African-American/Black,African-American/Black,not imputed,NaN,01/02/2000,5700 block Mack Road,...,Vehicle,LaTanya Janelle McCoy's car was struck from be...,Unknown,http://www.recordnet.com/article/20000110/A_NE...,No,NaN,1/2/2000: LaTanya Janelle McCoy's car was stru...,NaN,1,2000

In [8]:
data.describe()

,Unique ID,Location of death (zip code),Latitude,Longitude,Unique ID formula,Unique identifier (redundant)
count,28195.000000,28007.000000,28195.000000,28195.000000,1.0,28195.000000
mean,14098.000000,58425.401685,36.775975,-95.425768,27497.0,14098.000000
std,8139.339756,28004.932278,5.153519,16.371433,NaN,8139.339756
min,1.000000,1013.000000,19.034681,-165.591880,27497.0,1.000000
25%,7049.500000,33150.000000,33.553116,-111.324690,27497.0,7049.500000
50%,14098.000000,60804.000000,36.706718,-90.554839,27497.0,14098.000000
75%,21146.500000,85051.000000,40.426884,-82.572203,27497.0,21146.500000
max,28195.000000,99921.000000,71.301250,89.989700,27497.0,28195.000000

In [9]:
data.describe(include = 'all')

,Unique ID,Subject's name,Subject's age,Subject's gender,Subject's race,Subject's race with imputations,Imputation probability,URL of image of deceased,Date of injury resulting in death (month/day/year),Location of injury (address),...,Cause of death,A brief description of the circumstances surrounding the death,"Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS",Link to news article or photo of official document,"Symptoms of mental illness? INTERNAL USE, NOT FOR ANALYSIS",Video,Date&Description,Unique ID formula,Unique identifier (redundant),Date (Year)
count,28195.000000,28195,27217,28102,28195,27793,27785,12823,28195,27657,...,28195,28195,28195,28193,28134,3,28160,1.0,28195.000000,28195
unique,NaN,26844,122,5,8,10,6965,12769,7158,25911,...,15,26785,92,26226,4,3,26844,NaN,NaN,23
top,NaN,Name withheld by police,22,Male,European-American/White,European-American/White,not imputed,http://photos1.blogger.com/blogger/282/183/160...,02/19/2003,2347 S. Michigan Ave.,...,Gunshot,"On February 19, 2003, 21 people were killed an...",Unreported,http://www.usatoday.com/pages/interactives/bla...,No,https://www.youtube.com/watch?v=EzJyma8kPTc&ap...,"2/19/2003: On February 19, 2003, 21 people wer...",NaN,NaN,2018
freq,NaN,1125,908,25421,9097,13361,19367,3,23,21,...,20024,21,10351,132,18746,1,21,NaN,NaN,1845
mean,14098.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27497.0,14098.000000,NaN
std,8139.339756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8139.339756,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27497.0,1.000000,NaN
25%,7049.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27497.0,7049.500000,NaN
50%,14098.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27497.0,14098.000000,NaN
75%,21146.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27497.0,21146.500000,NaN
max,28195.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27497.0,28195.000000,NaN

In [11]:
data.isnull().sum()

Unique ID                                                             0
Subject's name                                                        0
Subject's age                                                       978
Subject's gender                                                     93
Subject's race                                                        0
Subject's race with imputations                                     402
Imputation probability                                              410
URL of image of deceased                                          15372
Date of injury resulting in death (month/day/year)                    0
Location of injury (address)                                        538
Location of death (city)                                             35
Location of death (state)                                             0
Location of death (zip code)                                        188
Location of death (county)                                           16
Full Address                                                          0
Latitude                                                              0
Longitude                                                             0
Agency responsible for death                                         68
Cause of death                                                        0
A brief description of the circumstances surrounding the death        0
Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS                0
Link to news article or photo of official document                    2
Symptoms of mental illness? INTERNAL USE, NOT FOR ANALYSIS           61
Video                                                             28192
Date&Description                                                     35
Unique ID formula                                                 28194
Unique identifier (redundant)                                         0
Date (Year)                                                           0
dtype: int64

In [45]:
data["Subject's gender"].fillna("Unknown", inplace = True)
data["Subject's age"].fillna("35", inplace = True)
data["Location of injury (address)"].fillna("Unknown", inplace = True)
data["Location of death (city)"].fillna("Unknown", inplace = True)
data["Agency responsible for death"].fillna("Unknown", inplace = True)

In [46]:
data.isnull().sum()

Unique ID                                                             0
Subject's name                                                        0
Subject's age                                                         0
Subject's gender                                                      0
Subject's race                                                        0
Imputation probability                                              410
URL of image of deceased                                          15372
Date of injury resulting in death (month/day/year)                    0
Location of injury (address)                                          0
Location of death (city)                                              0
Location of death (state)                                             0
Location of death (zip code)                                        188
Location of death (county)                                           16
Full Address                                                          0
Latitude                                                              0
Longitude                                                             0
Agency responsible for death                                          0
Cause of death                                                        0
A brief description of the circumstances surrounding the death        0
Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS                0
Link to news article or photo of official document                    2
Symptoms of mental illness? INTERNAL USE, NOT FOR ANALYSIS           61
Video                                                             28192
Date&Description                                                     35
Unique ID formula                                                 28194
Unique identifier (redundant)                                         0
Date (Year)                                                           0
dtype: int64